body {
    background-color:azure;
}

.topnav{
    display:flex;
    justify-content: space-evenly;
    margin: 0px;
    margin-bottom: 25px;
    background-color:rgb(86, 116, 208);
    overflow: hidden;
}

.topnav a{
    color:midnightblue;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    padding: 20px 16px;
}

.topnav a:hover {
    transition:ease-in-out;
    transition-delay: 50ms;
    background-color:midnightblue;
    color: azure;
}

.name {
    color: midnightblue;
    font-size: 25px;
    text-align: center;
}

.container {
    margin-left: 660px;
}

.intro {
    font-size: 16px;
    color: midnightblue;
    text-align: center;
}
h1 {
    font-size: 30px;
    text-decoration: underline;
}

.contact {
margin-left: 10px;
font-size: 16px;
}

h2 {
    font-size: 30px;
    text-decoration: underline;
    color: midnightblue;
}

h3 {
    font-size: 20px;
    color: midnightblue;
}